<ion-header>
  <ion-navbar>
    <ion-title>Metronome</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            <ion-label>
                BPM
            </ion-label>
            <ion-badge item-right="">{{tempo}}</ion-badge>
        </ion-list-header>

        <ion-item>
            <ion-range min="1" max="300" [(ngModel)]="tempo">
                <ion-label range-left>1</ion-label>
                <ion-label range-right>300</ion-label>
            </ion-range>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-label>
                Beat
            </ion-label>
        </ion-list-header>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input type="number" placeholder="Hits" [(ngModel)]="hits"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input type="number" placeholder="Division" [(ngModel)]="division"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        
    </ion-list>

    <button *ngIf="timer == undefined" ion-button full icon-left (click)="play()">
        <ion-icon name="play"></ion-icon>
        Play
    </button>
    <button *ngIf="timer != undefined" ion-button full icon-left (click)="stop()">
        <ion-icon name="stop"></ion-icon>
        Stop
    </button>
</ion-content>
